html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 15px;
    font-family: 'Roboto', sans-serif;
    line-height: 150%;
    background: #fff;
}

a {
    color: #0074E1;
}

img {
    border: none;
}

/* Header 
***************************/

header {
    padding: 0px;
    margin: 30px auto;
    min-height: 200px;
    border-right: 1px solid #E8E8E8;
    border-bottom: 1px solid #E8E8E8;
    padding: 30px;
}

header {
    background: #F8F8F8;
    border-radius: 10px;
    padding: 30px;
}

nav ul li {
    display: inline-block;
    padding: 0 25px;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    padding-bottom: 5px;
    border-bottom: 3px solid #666;
    border-radius: 3px;
}

nav {
    text-align: center;
    text-transform: uppercase;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    line-height: 150%;
}

h2 {
    text-transform: uppercase;
}

h3 {
    margin: 30px 0 5px 0;
    padding: 0;
}

h4 {
    padding: 0;
    margin: 0;
    color: #696969;
}

.profile-pic {
    width: 150px;
    border-radius: 50%;
    margin-left: 30px;
    border: 1px solid #E8E8E8;
}

/* Main
***************************/

.screenshot {
    padding: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-right: 3px solid #E8E8E8;
    border-bottom: 3px solid #E8E8E8;
    border-radius: 5px;
    background: #F8F8F8;
}

.content-wrap {
    display: flex;
    flex-direction: column;
    padding: 15px 30px;
}

ul {
    list-style-type: square;
}

.org-logo {
    width: 70px;
    border-radius: 50%;
    margin: 0;
}

.small-col {
    width: 100%;
}

.medium-col {
    width: 100%;
}

.large-col {
    width: 100%;
    min-height: 175px;
}

.dates {
    font-size: 1.2em;
    margin: 30px 0;
    color: #696969;
}

.tech-badge {
    width: 50px;
}

nav {
    display: none;
}

@media screen and (min-width: 900px) {

    body {
        margin: 50px;
    }

    nav {
        display: block;
    }

    .content-wrap {
        max-width: 1000px;
        margin: 0 auto;
        clear: left;
        overflow: hidden;
        display: block;
    }

    .profile-pic {
        float: right;
    }

    ul {
        margin: 0 20px 10px 20px;
    }

    .small-col {
        width: 15%;
        float: left;
    }

    .medium-col {
        float: left;
        width: 30%;
    }

    .large-col {
        width: 70%;
        float: left;
        min-height: 175px;
    }

    .center-col {
        text-align: center;
    }
}

/* Footer
***************************/

footer {
    text-align: center;
    margin: 50px auto;
    padding: 30px 0;
    border-top: 1px solid #E8E8E8;
    background: #fff;
}

.social-icons {
    width: 35px;
    border-radius: 5px;
    margin: 0px 2px;
}