html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 15px;
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    background: #fff;
    line-height: 140%;
}

a {
    color: #0074E1;
}

img {
    border: none;
}

/* Header 
***************************/

header {
    padding: 0px;
    margin: 30px auto;
    border-right: 1px solid #E8E8E8;
    border-bottom: 1px solid #E8E8E8;
    padding: 30px;
    display: flex;
    flex-direction: column;
    background: #F8F8F8;
    border-radius: 10px;
    padding: 30px;
    clear: right;
    max-width: 1000px;
}


nav {
    text-transform: uppercase;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    display: block;
    padding: 10px 0;
}

h1 {
    font-family: 'Open Sans', sans-serif;
}

h2 {
    text-transform: uppercase;
    font-weight: 700;
}

h3 {
    padding: 5px 0 5px 0;
}

.profile-pic {
    width: 150px;
    float: right;
    border-radius: 50%;
    border: 1px solid #E8E8E8;
    margin: 30px 0 30px 30px;
}

/* Main
***************************/

.screenshot {
    padding: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-right: 3px solid #E8E8E8;
    border-bottom: 3px solid #E8E8E8;
    border-radius: 5px;
    background: #F8F8F8;
}

.content-wrap {
    display: flex;
    flex-direction: column;
    padding: 15px 30px;
    max-width: 1000px;
}

.content-no-wrap {
    padding: 15px 30px;
}

ul {
    list-style-type: square;
}

.org-logo {
    width: 70px;
    border-radius: 50%;
    margin: 0;
}

.small-col {
    width: 100%;
}

.medium-col {
    width: 100%;
    text-align: center;
}

.large-col {
    width: 100%;
    min-height: 175px;
}

.dates {
    font-size: 1.2em;
    padding: 5px 0;
    color: #696969;
}

.tech-badge {
    width: 45px;
    padding: 5px;
}

@media screen and (min-width: 900px) {

    body {
        margin: 50px;
    }

    nav {
        display: block;
    }

    nav a {
        text-decoration: none;
    }

    nav a:hover {
        padding-bottom: 1px;
        border-bottom: 2px solid #666;
    }

    .content-wrap {
        max-width: 1000px;
        margin: 0 auto;
        clear: left;
        overflow: hidden;
        display: block;
    }

    .content-no-wrap {
        max-width: 1000px;
        margin: 0 auto;
        clear: left;
        overflow: hidden;
        display: block;
    }

    ul {
        margin: 10px 20px 10px 20px;
    }

    ul li {
        padding: 2px;
    }

    nav {
        text-align: center;
    }

    nav ul li {
        display: inline;
        margin: 5px 25px;
        padding-top: 100px;
    }

    .small-col {
        width: 15%;
        float: left;
    }

    .medium-col {
        float: left;
        width: 30%;
    }

    .large-col {
        width: 70%;
        float: left;
        min-height: 175px;
    }

    .center-col {
        text-align: center;
    }
}

/* Footer
***************************/

footer {
    margin: 25px auto;
    padding: 30px 0;
    background: #fff;
    max-width: 1000px;
}


.social-icons-group {
    max-width: 1000px;
    margin: 0;
    padding: 0;
    float: right;
}

.social-icon {
    width: 30px;
    margin: 0px 2px;
    border-radius: 5px;
}